name: Build

on:
  pull_request:
  push:
    paths-ignore:
      - '*.md'
      - 'LICENSE*'
  workflow_dispatch:

env:
  DOTNET_VERSION: '9.0.x'
  PROJECT_NAME: 'DtkSymbolDiff'

jobs:
  build:
    name: Build DtkSymbolDiff
    
    strategy:
      matrix:
        include:
          - platform: windows-latest
            target: win-x64
          - platform: windows-latest
            target: win-x86
          - platform: ubuntu-latest
            target: linux-x64
          - platform: ubuntu-24.04-arm
            target: linux-arm64
          - platform: macos-latest
            target: osx-x64
          - platform: macos-latest
            target: osx-arm64
      fail-fast: false
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}
    
    - name: Build ${{ matrix.target }}
      run: |
        dotnet publish -c Release -r ${{ matrix.target }} -p:PublishDir=../publish/${{ matrix.target }}

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ${{ env.PROJECT_NAME }}-${{ matrix.target }}
        path: |
          publish/${{ matrix.target }}/${{ env.PROJECT_NAME }}
          publish/${{ matrix.target }}/${{ env.PROJECT_NAME }}.exe

  release:
    name: Release
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    needs: [ build ]
    permissions:
      contents: write
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      
    - name: Check git tag against package version
      shell: bash
      run: |
        set -eou pipefail
        tag='${{github.ref}}'
        tag="${tag#refs/tags/}"
        name="${{env.PROJECT_NAME}}"
        version=$(grep '^\s*<PackageVersion' $name/$name.csproj | head -1 | awk -F'[<>]' '{print $3}')
        version="v$version"
        if [ "$tag" != "$version" ]; then
          echo "::error::Git tag doesn't match the package version! ($tag != $version)"
          exit 1
        fi
  
    - name: Download artifacts
      uses: actions/download-artifact@v4
      with:
        path: artifacts

    - name: Move artifacts
      working-directory: artifacts
      run: |
        set -euo pipefail
        mkdir ../out
        for dir in */; do
          for file in "$dir"*; do
            base=$(basename "$file")
            name="${base%.*}"
            ext="${base##*.}"
            if [ "$ext" = "$base" ]; then
                ext=""
            else
                ext=".$ext"
            fi
            arch="${dir%/}" # remove trailing slash
            arch="${arch##"$name-"}" # remove bin name
            dst="../out/${name}-${arch}${ext}"
            mv "$file" "$dst"
          done
        done
        ls -R ../out/
  
    - name: Release
      uses: softprops/action-gh-release@v2
      with:
        files: out/*
        draft: true
        generate_release_notes: true